.taksha-side-navigation-menus-wrapper {
    max-width: 22%;
    background-color: wheat;
    max-height: 98vh;
    border-radius: 4px;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.taksha-side-menu-header {
    background: whitesmoke;
    padding: 10px;
}

.taksha-side-menu-header:hover{
    cursor: pointer;
    color: red;
}

.taksha-side-menu {
    padding: 10px;
}

.taksha-side-menu:hover{
    cursor: pointer;
    background: grey;
}